
// container
.cnt{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}




// ############################################################
//  COLORS
// ############################################################

.clr-red{
    color: red;
}
.clr-green{
    color: green;
}
.clr-yellow{
    color: yellow;
}
.clr-blue{
    color: blue;
}



.bgc-red{
    background-color: red;
}
.bgc-green{
    background-color: green;
}
.bgc-yellow{
    background-color: yellow;
}
.bgc-blue{
    background-color: blue;
}