
:root {
	--factorialClr: #f4f4f5;
    font: Inter,sans-serif;
}


.body{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.pointer{
    cursor: pointer;
}

.block{ display: block;}

// ############################################################
//  CONTAINERS
// ############################################################

@for $i from 0 through 5 {
    .cnt-#{$i}{
        margin: #{$i}#{'%'};
        // padding: #{$i}#{'%'};
    }
}

@for $i from 0 through 10 {
    .padding-#{$i}{
        padding: #{$i*10}#{'px'};
    }
    .paddingL-#{$i}{
        padding-left: #{$i*10}#{'px'};
    }
    .paddingR-#{$i}{
        padding-right: #{$i*10}#{'px'};
    }
    .paddingB-#{$i}{
        padding-bottom: #{$i*10}#{'px'};
    }
    .paddingT-#{$i}{
        padding-top: #{$i*10}#{'px'};
    }

    .margin-#{$i}{
        margin: #{$i*10}#{'px'};
    }
    .marginL-#{$i}{
        margin-left: #{$i*10}#{'px'};
    }
    .marginR-#{$i}{
        margin-right: #{$i*10}#{'px'};
    }
    .marginB-#{$i}{
        margin-bottom: #{$i*10}#{'px'};
    }
    .marginT-#{$i}{
        margin-top: #{$i*10}#{'px'};
    }
}

@for $i from 0 through 100 {
    .w#{$i}{
        width: #{$i}#{'%'};
    }
    .h#{$i}{
        height: #{$i}#{'%'};
    }
}

// ############################################################
// FONTS
// ############################################################

@for $i from 0 through 10 {
    .fnt-#{$i}{
        font-size: #{$i*10}#{'px'};
        // padding: #{$i}#{'%'};
    }
}

.fnt-center{
    text-align: center;
}


// ############################################################
//  COLORS
// ############################################################

.clr-red{
    color: red;
}
.clr-green{
    color: green;
}
.clr-yellow{
    color: yellow;
}
.clr-blue{
    color: blue;
}
.clr-purple{
    color: purple;
}
.clr-grey{
    color: grey;
}
.clr-factorialClr{
    color: var(--factorialClr);
}



.bgc-red{
    background-color: red;
}
.bgc-green{
    background-color: green;
}
.bgc-yellow{
    background-color: yellow;
}
.bgc-blue{
    background-color: blue;
}
.bgc-purple{
    background-color: purple;
}
.bgc-grey{
    background-color: grey;
}
.bgc-lgrey{
    background-color: lightgrey;
}
.bgc-factorialClr{
    background-color: var(--factorialClr);
}

// ############################################################
// Flex
// ############################################################

.flex-row-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex{
    display: flex;
}

.fjcc{
    display: flex;
    justify-content: center;
}

.faic{
    display: flex;
    align-items: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.fass{
    align-self: flex-start;
}
.fjss{
    justify-self: flex-start;
}

.fasc{
    align-self: center;
}

.fjsc{
    justify-self: center;
}